!.env.example
!.env.test
.DS_Store
.env*
.netlify
.output
.vercel
.wrangler
/.svelte-kit
/build
/coverage
/dist
/out
backups
generated
node_modules
test-results
Thumbs.db
vite.config.js.timestamp-*
vite.config.ts.timestamp-*